<head>
  <title>My story hub</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/form.css" />
</head>
<body>
  <div class="flashes">
    <% if (flashMessages) { %>
    <% if (flashMessages.success) { %>
   <div class="flash success"><%= flashMessages.success %></div>
    <% } else if (flashMessages.error) { %>
   <div class="flash error"><%= flashMessages.error %></div>
    <% } %>
    <% } %>
  </div>
  <%- include('partials/navigation') %>
  <div class="container">
    <%- body %> 
  </div>
  <%- include('partials/footer') %>
</body>
