<head>
  <title>My story hub</title>
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link rel="stylesheet" type="text/css" href="../css/form.css" />

</head>
<body>
  <% if (loggedIn) { %>
    Logged in as <a href="<%=`/users/${currentUser._id}`%>">
    <%= currentUser.username %></a>
    <a href="/users/logout">Log out</a>
  <%} else {%>
    <a href="/users/login">Log In</a>
   <% } %>
  <div class="flashes">
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flash success"><%= flashMessages.success %></div>
      <% } else if (flashMessages.error) { %>
        <div class="flash error"><%= flashMessages.error %></div>
      <% } %>
    <% } %>
  </div>
  <%- include('partials/navigation') %>
  <div class="container">
    <%- body %> 
  </div>
  <%- include('partials/footer') %>
</body>
