<h1>User Data for <%= user.fullName %></h1>
<table class="table">
    <tr>
        <th>Username</th>
        <td><%= user.username %></td>
    </tr>
    <tr>
        <th>First Name</th>
        <td><%= user.firstname %></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td><%= user.lastname %></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= user.email %></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><%= user.password %></td>
    </tr>
</table>