<form
  method="POST"
  action="<%= `/users/%{user._id}/update?_method=PUT` %>"
  method="post"
>
  <label>Username</label>
  <input
    type="text"
    name="username"
    value="<%= user.username %>"
    placeholder="Username"
    required
    autofocus
  />
  <br />

  <label>First Name</label>
  <input
    type="text"
    name="firstname"
    value="<%= user.firstname %>"
    placeholder="Max"
    required
  />
  <br />

  <label>Last Name</label>
  <input
    type="text"
    name="lastname"
    value="<%= user.lastname %>"
    placeholder="Mustermann"
    required
  /><br />

  <label>Email address</label>
  <input
    type="email"
    name="email"
    value="<%= user.email %>"
    placeholder="Email"
    required
  /><br />

  <label>Password</label>
  <input type="password" name="password" required /><br />

  <input type="submit" name="submit" /><br />
</form>
